
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CodeBits</title>
<!-- Load CSS -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<!-- Load Icon Font -->
<link href="css/webfont.css" rel="stylesheet" type="text/css" />
<!-- Load jQuery library -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!-- Load jCarousel js -->
<script type="text/javascript" src="js/jquery.jcarousel.js"></script>
<!-- Load MixItUup js -->
<script type="text/javascript" src="js/jquery.mixitup.js"></script>
<!-- Load js -->
<script type="text/javascript" src="js/custom.js"></script>
</head>
<!-- Start Body -->
<body>
	<!-- Start Menu -->
	<div class="menubar" data-scroll="true">
		<a href="#" class="logo"></a>
		<ul class="mainmenu">
			<li class="active"><a href="#home">Home</a></li>
			<li><a href="#services">Services</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#portfolio">Portfolio</a></li>
			<li><a href="#blog">Blog</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</div>
	<!-- End Menu -->

	<!-- Start Home -->
	<a class="scroll" id="home"></a>
	<div class="home hero">
		<div class="overlay"></div>
		<div class="herowrapper">
			<h1>We are CodeBits, the go to <b class="rotate color">designers,developers,aliens</b>.</h1>
		</div>
		<a href="javascript:void(0);" class="scrolldown">
			<h3>Put your source here!</h3>
			<div data-icon="&#xe017;" class="icon"></div>
		</a>
	</div>
	<!-- End Home -->




	<!-- Start Section Divider -->
	<div class="section divider">
		<h2 id="servicestitle">Create Fragment</h2>
		<a class="scroll" id="contact"></a>
	</div>
	<!-- End Section Divider -->

	<!-- Start Content -->
	<div class="content contact">

    <form action="/create/" method="post">
  		<label>Name</label><br>
  		<input type="text" value="" class="form" name="name"><br>

  		<label>Source</label><br>
  		<textarea rows="3" class="form" name="source"></textarea>
      <input type="submit" value="Submit">
    </form>


	</div>
	<!-- End Content -->


	<!-- Fragmentos Randômicos -->
	<div class="section divider">
		<h2 id="servicestitle">Random Fragments</h2>
		<a class="scroll" id="rand"></a>
	</div>

	<div class="content rand">


			<% v = Fragment.getRandom 10 %>
			<% for i in v %>
				<% begin %>
					<form action="/create/">
						<center><h3> <%=i.name%> </h3></center>
						<center><textarea rows="5" class="form" name="source"><%=i.source.encode()%></textarea></center>
					</form>

					<%="<form method=\"get\" action=\"/view/#{i.id}\">"%>
							<center><button type="submit">View</button><center>
					</form>

					<%="<form method=\"get\" action=\"/editor/#{i.id}\">"%>
							<center><button type="submit">Edit</button><center>
					</form>

					<%="<form method=\"get\" action=\"/purge/#{i.id}\">"%>
							<center><button type="submit">Purge</button><center>
					</form>
				<% rescue => e %>
					<%= e %>
				<%end %>
			<%end %>






		<!-- Clear :) -->
		<div class="clear"></div>
	</div>

	<!-- End Content -->
	<footer class="footer">
		<a href="http://www.fleyhe.com"><h6>© Copyright 2017 | www.fleyhe.com</h6></a>
	</footer>

	<!-- End BlockQuote -->
</body>
<!-- End Body -->
</html>
